<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>872576625259-h9l5shh21q8cccq2lbovc8e8eq9k4l7c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.872576625259-h9l5shh21q8cccq2lbovc8e8eq9k4l7c</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>872576625259-9tvmkki1cm62g55ec4ch29d9r949bftt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDYZCRwouCzacVzbxF5qVasIN4jVQU7cr4</string>
	<key>GCM_SENDER_ID</key>
	<string>872576625259</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fall2022</string>
	<key>PROJECT_ID</key>
	<string>swen670-b197f</string>
	<key>STORAGE_BUCKET</key>
	<string>swen670-b197f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:872576625259:ios:aafd44597e5e92c97f1f2e</string>
</dict>
</plist>